{% extends 'PointWebAppBundle::base.html.twig' %}
{% block content %}
          <div class="page" id="p1">
              <div class="container">
                  <section class="icon fa fa-info">
                      <span class="title">Infomation</span>
                        <span class="hint">
                     Thibault Marquand, étudiant en BTS Services Informatiques aux Organisations 2ème année.
                 Aujourd'hui en alternance dans l'entreprise <a href="http://www.point-web.fr">Serco Point-Web</a>.
                     Spécialisé dans la création de site web.
                        </span>
                  </section>
                     <div class="col">
                         <h2 class="titulo">Programmation</h2>
                         <ul class="skill">
                             <li><span class="blueline css"></span><em>Symfony2</em></li>
                             <li><span class="blueline php"></span><em>PHP</em></li>
                             <li><span class="blueline html"></span><em>HTML</em></li>
                             <li><span class="blueline javascript"></span><em>Javascript</em></li>
                             <li><span class="blueline jquery"></span><em>ASP.net</em></li>
                         </ul>
                     </div>
                  <div class="col sangoku">

                      <div id="goku">
                          <div class="head"></div>
                          <div class="body"></div>
                          <div class="leg"></div>
                          <div class="shadow"></div>
                      </div>
                      <div class="goku2">
                      <h2 class="plataformas titulo">Plateforme</h2>
                      <ul class="skill">
                          <li><span class="greenline wordpress"></span><em>Wordpress</em></li>
                          <li><span class="greenline prestashop"></span><em>Prestashop</em></li>
                          <li><span class="greenline joomla"></span><em>Joomla</em></li>
                      </ul>
                   </div>
                  </div>
                  <div class="col circle">
                      <h2 class="programas titulo">Programme</h2>
                      <ul class="skill">
                          <li><span class="redline dreamweaver"></span><em>PhpStorm</em></li>
                          <li><span class="redline illustrator"></span><em>Bracket</em></li>
                          <li><span class="redline photoshop"></span><em>Photoshop</em></li>
                      </ul>
                  </div>
              </div>

          </div>

          <div class="page" id="p3">
              <div class="page-wrap">

                  {#<section class="icon fa fa-facebook"><span class="title">Facebook</span></section>#}
                  <div class="container-lg scene-1">

                      <div class="mio-wrap">
                          <div class="m"> </div>
                          <div class="i">
                              <div class="i-inner">
                                  <h4>
                                      <small>Nom:</small> Marquand Thibault<br>
                                      <small>Age:</small> 21 <br>
                                      <small>Loc:</small> France <img src="http://www.mp-sec.fr/assets/images/icons/icon-fr.gif" title="Слава Україні" alt="Слава Україні">
                                  </h4>
                                  <h4>Expériences:</h4>
                                  <p><strong>Août 2014: Auxiliaire de vacances–Société Générale–Lyon (69004)</strong><br>
                                      Chargé d’accueil, Gestionnaire Back Office.</p>
                                  <p><strong>Décembre–Février 2014: Stagiaire–Ax’iom–Lyon (69120)</strong><br>
                                      Manipulation carte électronique, configuration, ainsi que service de maintenance et réparation.</p>
                                  <p><strong>Juillet 2013 : Auxiliaire de vacances–Société Générale–Lyon (69001)</strong><br>
                                      Chargé d’accueil, Gestionnaire Back Office.</p>
                                  <p><strong>Avril –Mars 2013 : Stagiaire–EO Guidage –Lyon (69007)</strong><br>
                                      Production de carte électronique, programmation, soudure, câblage. Observation création d’un site.</p>
                                  <p><strong>Juillet 2012 : Stagiaire–Point Web –Villeurbanne (69100)</strong><br>
                                      Mise en pratique du langage HTML, et découverte du PHP.</p>
                                  <p><strong>Mai 2011 : Stagiaire–SQLiAgency –Lyon (69009)</strong><br>
                                      Découverte du Html/CSS, ainsi que le fonctionnement d’une base de données SQL pour le développement d’un site internet.</p>

                                  <h4>Outils:</h4>
                                  <p>HTML5, CSS3, JavaScript, jQuery, Symfony2, PHP, Bootstrap, Twig, Doctrine, Adobe Photoshop, Wordpress, Joomla, Drupal ...</p>
                                  <img src="https://532ecf1b0445a88674c8fb4753e5026ef0195dae-www.googledrive.com/host/0B2m-tKt8XpodR29yVjBVSVlxMTA/img/small-logo.png" alt="Hard work and patience" title="Hard work and patience" class="i-logo">
                              </div>
                          </div>
                          <div class="o">
                              <div class="skill-orbit"><i><!-- JS --></i></div>
                              <div class="skill-orbit"><i><!-- CSS --></i></div>
                              <div class="skill-orbit"><i><!-- HTML --></i></div>
                              <div class="skill-orbit"><i><!-- Ai --></i></div>
                              <div class="skill-orbit"><i><!-- Ps --></i></div>
                          </div>
                      </div>


                  </div>

                  <!-- BG -->
                  <div class="sky-and-ground"></div>

              </div>
          </div>


          <div class="page" id="p2">
            <section class="icon fa fa-keyboard-o"><span class="title">Bientôt</span>
            <p class="hint">
            	Un espace Veille Technonolique / Juridique sur cette page.
            </p>
            </section>
          </div>

    <div class="page" id="p4">
        <section class="icon fa fa-angellist">
            <span class="title">Contact</span>
            <p class="hint">
                Si vous souhaitez me contactez ça ce passe par ici !
            </p>
        </section>
            {{ form_start(form) }}

                <div>
                    <div>
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
            {{ form_end(form) }}

    </div>





{% endblock %}